.form__group {
  margin-bottom: $base-spacing-unit;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  border: 1px solid $col-neutral;
  width: 100%;
  max-width: 400px;
  padding: ($base-spacing-unit / 4) ($base-spacing-unit / 2);
}

.form__note {
  font-size: 12px;
  font-style: italic;
}

.form__note--error {
  color: $col-danger;
}
