.form__group {
  margin-bottom: $base-spacing-unit;
}

[type='email'],
[type='password'],
[type='text'],
textarea {
  width: 100%;
  max-width: 400px;
  padding: ($base-spacing-unit / 4) ($base-spacing-unit / 2);
  border: 1px solid $col-neutral;
}

.form__note {
  font-size: 12px;
  font-style: italic;
}

.form__note--error {
  color: $col-danger;
}
