/**
 * Colours
 */
$col-brand: #85440F;
$col-text: #2c2c2c;
$col-text-light: #FFF;
$col-background: #FFF;
$col-background-dark: #0e0e0e;
$col-danger: #D9534F;
$col-success: #2ab27b;
$col-warning: #cbb956;

$col-neutral: #cdcdcd;
$col-neutral-lightest: lighten($col-neutral, 15%);
$col-neutral-lighten: lighten($col-neutral, 10%);
$col-neutral-darken: darken($col-neutral, 10%);
$col-neutral-darkest: darken($col-neutral, 15%);

$col-brand-lightest: lighten($col-brand, 15%);
$col-brand-lighten: lighten($col-brand, 10%);
$col-brand-darken: darken($col-brand, 10%);
$col-brand-darkest: darken($col-brand, 15%);

$col-overlay: rgba(0, 0, 0, .75);

/**
 * Typography
 */
$sans-serif-font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font-family: 'Merriweather', Palatino, Georgia, "Times New Roman", Times, serif;
$base-font-family: $sans-serif-font-family;
$base-font-size: 16;
$base-line-height: 1.6;
$base-spacing-unit: round(($base-font-size * $base-line-height) * 1px);
$font-weight-bold: 700;
$serif-font-weight: 300;

/**
 * Breakpoints
 */
$breakpoint-sm: 767px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoints: ( 'lg' '(min-width: ' + $breakpoint-lg + ')', 'md' '(min-width: ' + $breakpoint-md + ') and (max-width: ' + ($breakpoint-lg - 1) + ')', 'sm' '(min-width: ' + ($breakpoint-sm + 1) + ') and (max-width:' + ($breakpoint-md - 1) + ')', 'xs' '(max-width: ' + $breakpoint-sm + ')' );

/**
 * Grid
 */
$grid-max-width: 1200px;
$grid-columns: 12;
$grid-gutter: $base-spacing-unit;
$animate: 0.3s;
$animate-preloader: 1.5s;

/**
 * Components
 */
$border-radius: 999em;

/**
 * Animations
 */
$animation: linear;
$animation-speed: 300ms;
$animation-speed-fast: 100ms;
$animation-speed-slow: 500ms;
