* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  background-color: transparent;
  border: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  background-color: fff;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

button,
input,
select,
textarea {
  display: inline-block;
  color: inherit;

  &[disabled] {
    cursor: not-allowed;
  }
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  text-align: left;
}

th {
  text-align: left;
}
