$spacing-base: 20px;

$animation-speed: 350ms;
$animation-preloader: 1.5s;
$animation: 'ease-in-out';

$col-logo: #000;
$col-logo-light: #fff;
$col-background: #fff;
$col-text: #000;
$col-text-light: #fff;

$sans-serif-font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-base: 18px;
$font-size-lg: 24px;

$line-height-base: 1.2;
$line-height-lg: 1.4;
