@import './config/variables';
@import './config/mixins';

@import 'node_modules/simple-flexbox-grid/src/grid';

/* inject:imports */
/* endinject */

.content {
  padding: ($base-spacing-unit * 5) 0;
}

.page {
  //
}

.page__title {
  margin-bottom: $base-spacing-unit;
  font-size: 28px;
  font-weight: 700;
}

.section {
  margin-bottom: $base-spacing-unit * 2;
}
