@import './config/variables';
@import './config/mixins';
@import './core/reset';

html {
  background: $col-background;
  transition: background $animation-speed $animation;

  &.error {
    background: $col-background;
    background: linear-gradient(135deg, $col-danger 0%, $col-background 100%);
  }

  &.warning {
    background: $col-background;
    background: linear-gradient(135deg, $col-warning 0%, $col-background 100%);
  }

  &.success {
    background: $col-background;
    background: linear-gradient(135deg, $col-success 0%, $col-background 100%);
  }

  &.gradient {
    background: $col-background;
    background: linear-gradient(135deg, $col-background 0%, #3C6464 100%);
  }

  &.dark {
    background: $col-background-dark;

    &.gradient {
      background: $col-background-dark;
      background: linear-gradient(135deg, $col-background-dark 0%, $col-brand 100%);
    }

    &.error {
      background: $col-background-dark;
      background: linear-gradient(135deg, $col-danger 0%, $col-background-dark 100%);
    }

    &.warning {
      background: $col-background-dark;
      background: linear-gradient(135deg, $col-warning 0%, $col-background-dark 100%);
    }

    &.success {
      background: $col-background-dark;
      background: linear-gradient(135deg, $col-success 0%, $col-background-dark 100%);
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  font-family: $sans-serif-font-family;
  font-size: $base-font-size + px;
  line-height: $base-line-height;
  color: $col-text;

  .dark & {
    color: $col-text-light;
  }
}

main {
  flex: 1 0 auto;
}

a {
  color: $col-text;

  &:hover,
  &:visited {
    color: $col-text;
  }

  .dark & {
    color: $col-text-light;

    &:hover,
    &:visited {
      color: $col-text-light;
    }
  }
}

p {
  margin-bottom: $base-spacing-unit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $base-spacing-unit;
  font-weight: 700;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 24px;
}

em {
  font-style: italic;
}
