@import './config/variables';
@import './config/mixins';
@import './core/reset';
@import './core/helpers';

html {
  background-color: $col-background-dark;
  transition: background-color $animation-speed $animation;

  &.light {
    background-color: $col-background;
  }

  &.gradient {
    background-color: $col-brand;
  }

  &.error {
    background-color: $col-danger;
  }

  &.warning {
    background-color: $col-warning;
  }

  &.success {
    background-color: $col-success;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  font-family: $sans-serif-font-family;
  font-size: $base-font-size + px;
  line-height: $base-line-height;
  color: $col-text-light;

  .light & {
    color: $col-text;
  }
}

main {
  flex: 1 0 auto;
}

a {
  color: inherit;

  &:hover,
  &:visited {
    color: inherit;
  }
}

p {
  margin-bottom: $base-spacing-unit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif-font-family;
  margin-bottom: $base-spacing-unit;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 24px;
}

em {
  font-style: italic;
}

strong,
b {
  font-weight: $font-weight-bold;
}

i,
em {
  font-style: italic;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

blockquote {
  font-style: italic;
  line-height: 1.8;
  margin-bottom: $base-spacing-unit;
  padding: ($base-spacing-unit / 4) 0 ($base-spacing-unit / 4) $base-spacing-unit;
  border-left: 3px solid $col-neutral;
}

audio {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(280deg, rgba(0,0,0,.3) 0%, $col-background-dark 100%);
  transition: opacity $animation-speed linear;

  .error &,
  .warning &,
  .success & {
    background-image: linear-gradient(135deg, rgba(0,0,0,.3) 0%, $col-background-dark 100%);
  }

  .light & {
    background-image: linear-gradient(280deg, rgba(255,255,255,.3) 0%, $col-background 100%);
  }

  .light.error &,
  .light.warning &,
  .light.success & {
    background-image: linear-gradient(135deg, rgba(255,255,255,.3) 0%, $col-background 100%);
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.content {
  padding: ($base-spacing-unit * 5) 0;
  flex: 1 0 auto;
}
